apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ippools.ipam.gcp-cni.cast.ai
spec:
  group: ipam.gcp-cni.cast.ai
  names:
    kind: IPPool
    listKind: IPPoolList
    plural: ippools
    singular: ippool
    shortNames:
      - ipp
  scope: Cluster
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - cidr
                - subnet
              properties:
                cidr:
                  type: string
                  description: "The CIDR block for this IP pool (e.g., 10.111.0.0/16)"
                  pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}/[0-9]{1,2}$'
                subnet:
                  type: string
                  description: "GCP subnetwork URL where this pool is allocated"
                secondaryRangeName:
                  type: string
                  description: "Name of the secondary range on the subnet"
                  default: "live"
                allocations:
                  type: object
                  description: "Map of IP addresses to their allocation details"
                  additionalProperties:
                    type: object
                    required:
                      - podName
                      - podNamespace
                      - podUID
                      - nodeName
                    properties:
                      podName:
                        type: string
                        description: "Name of the pod using this IP"
                      podNamespace:
                        type: string
                        description: "Namespace of the pod"
                      podUID:
                        type: string
                        description: "UID of the pod for ownership"
                      nodeName:
                        type: string
                        description: "Node where the IP is assigned"
                      allocatedAt:
                        type: string
                        format: date-time
                        description: "Timestamp when IP was allocated"
            status:
              type: object
              properties:
                capacity:
                  type: integer
                  description: "Total number of IPs in the pool"
                allocated:
                  type: integer
                  description: "Number of allocated IPs"
                available:
                  type: integer
                  description: "Number of available IPs"
                lastUpdated:
                  type: string
                  format: date-time
      additionalPrinterColumns:
        - name: CIDR
          type: string
          jsonPath: .spec.cidr
        - name: Capacity
          type: integer
          jsonPath: .status.capacity
        - name: Allocated
          type: integer
          jsonPath: .status.allocated
        - name: Available
          type: integer
          jsonPath: .status.available
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
